{% extends 'base.html' %}
{% from '_macros.html' import form_filed %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center bg-light" style="height: 500px">
        <div class="align-self-center">
            <form method="post" class="form-horizontal" role="form">
                <h1 class="text-center">Login</h1><br>
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form_filed(form.username) }}
                </div>
                <div>
                    {{ form_filed(form.password) }}
                </div>
                {{ form.login(class="btn btn-info m-4") }}
                <a href="{{ url_for('register') }}">
                    <button type="button" class="btn btn-info" disabled>Register</button>
                </a>
            </form>
        </div>
    </div>
</div>


{% endblock %}