{% extends 'base.html' %}

{% block title %}{{ user.username }}'s watchlist{% endblock %}

{% block content %}
  <h2><img src="{{ url_for('static', filename='dog.png')}}" width="50"> {{ user.username }}</h2>
{% if user.bio %}
    <i>{{ user.bio }}</i>
{% else %}
    <i>the boy has not provided a bio</i>
{% endif %}

<h5>{{ user.username }}'s Watchlist ({{ movies|length }}):</h5>
<ul>
    {% for movie in movies %}
        <li>{{ movie.name }} - {{ movie.years }}</li>
    {% endfor %}
</ul>
{% endblock %}